<!doctype html>
<!--
    Build information
    Version: {{version}}
    Date: {{date}}
    Environment: {{env}}
-->
<html class="no-js" lang="en-us">
<head>
    <title>numbario - Math Puzzle Game</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]><meta http-equiv="cleartype" content="on" /><![endif]-->

    <!-- Touch Icons - iOS and Android -->
    <link rel="apple-touch-icon" sizes="128x128" href="favicon.ico?v={{version}}" />

    <!-- All other browsers -->
    <link rel="icon" type="image/x-icon" sizes="128x128" href="favicon.ico?v={{version}}" />

    {{#block "styles"}}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" />
        <link rel="stylesheet" media="screen, projection" href="assets/styles/modern.css?v={{version}}" />
    {{/block}}
</head>

<body>
    <div class="visually-hidden">
        <!-- inject:svg --><!-- endinject -->
    </div>
    {{#block "body"}}
    {{/block}}

    <script>
        window.GLOBAL = {
            VERSION: '{{version}}',
        };
    </script>

    {{#block "scriptsBody"}}
        <script src="assets/scripts/vendor.js?v={{version}}"></script>
        <script src="assets/scripts/main.js?v={{version}}"></script>
    {{/block}}
</body>
</html>
