<!doctype html>
<!--
    Build information
    Version: {{version}}
    Date: {{date}}
    Environment: {{env}}
-->
<html class="no-js" lang="en-us">
<head>
    <title>numbario - Math Puzzle Game</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="numbario is a game about combining numbers to make another number. There's no time limit or ultimate goal. Just relax, have fun, and enjoy solving one puzzle after another." />
    <meta name="author" content="" />
    <!--[if IE]><meta http-equiv="cleartype" content="on" /><![endif]-->

    <!-- Open Graph -->
    <meta property="og:url" content="https://numbario.com" />
    <meta property="og:type" content="game" />
    <meta property="og:title" content="numbario - Math Puzzle Game" />
    <meta property="og:description" content="numbario is a game about combining numbers to make another number. There's no time limit or ultimate goal. Just relax, have fun, and enjoy solving one puzzle after another." />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image" content="https://numbario.com/numbario.png" />

    <link rel="manifest" href="manifest.json">

    <!-- Touch Icons - iOS and Android -->
    <link rel="apple-touch-icon" sizes="192x192" href="favicon.png?v={{version}}" />

    <!-- All other browsers -->
    <link rel="icon" type="image/png" sizes="192x192" href="favicon.png?v={{version}}" />

    {{#block "styles"}}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" />
        <link rel="stylesheet" media="screen, projection" href="assets/styles/modern.css?v={{version}}" />
    {{/block}}
</head>

<body>
    <div class="visually-hidden">
        <!-- inject:svg --><!-- endinject -->
    </div>
    {{#block "body"}}
    {{/block}}

    <script>
        window.GLOBAL = {
            VERSION: '{{version}}',
        };
    </script>

    {{#block "scriptsBody"}}
        <script src="assets/scripts/vendor.js?v={{version}}"></script>
        <script src="assets/scripts/main.js?v={{version}}"></script>
    {{/block}}
</body>
</html>
